@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :popover-open {
    position: absolute;
    inset: unset;
    right: 5px;
    top: 5px;
  }
  .w-available {
    width: -moz-available;
    width: -webkit-fill-available;
  }
}
